@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

section#login > div#img{
    display: block;
    background: #5f2c82 url(../imgs/pexels-photo-3523621.webp) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login h1{
    text-align: center;
    padding-bottom: 10px;
}


section#login p{
    font-size: 0.8em;
}
label{
    display: none;
}
.campo{
    background-color: #5f2c82;
    margin: 5px 0px;
    height: 40px;
}

form  input[type=submit] {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form  input[type=submit]:hover{
    background-color: #3c817f;
} 

form a{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 4px;
}

form a:hover{
    background-color: #3c817f;
}